.btn-pogon-default {
	padding: 12px 33px;
	background-color: #12a85f;
	border-radius: 3px;
	transition: 0.5s;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	&:hover {
		background-color: #333333;
		color: #fff;
	}
}
.icon-before-heading {
	.elementor-heading-title {
		position: relative;
		padding-left: 15px !important;
		&:before {
			font-family: FontAwesome;
			content: "\f0da";
			color: #12a85f;
			font-size: 16px;
			margin-right: 10px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0,-50%);
		}
	}
}
article.post-wrap {
	margin-bottom: 80px;
	.btn-pogon-default:hover {
		background-color: #333333;
	}
	.post-media {
		margin-bottom: 20px;
		overflow: hidden;
		img {
			border-radius: 3px;
			transition: 0.4s;
			&:hover {
				opacity: 0.9;
			}
		}
	}
	.post-meta {
		.post-meta-content{
			margin: 0px;
			margin-bottom: 13px;
			.post-date {
				margin-right: 9px;
			}
			span, a, i {
				font-size: 16px;
				line-height: 33px;
				color: #666666;
			}
			a {
				transition: 0.5s;
				&:hover {
					color: #12a85f;
				}
			}
			i {
				margin-right: 8px;
				color: #12a85f;
				&:before {
					margin: 0px;
					font-size: 16px;
					line-height: 33px;

				}
			}
			.categories {
				i {
					display: none;
				}
			}
		}
	}
	.post-title {
		h2.post-title {
			font-size: 30px;
			line-height: 33px;
			margin-bottom: 18px;
			a {
				font-size: 30px;
				line-height: 33px;
				color: #333333;
				font-weight: 600;
				text-transform: unset;
				transition: 0.5s;
				&:hover {
					color: #12a85f;
				}
			}
		}
	}
	.post-body {
		.post-excerpt{
			font-size: 15px;
			line-height: 24px;
			color: #666666;
			margin-bottom: 44px;
			p {
				font-size: 15px;
				line-height: 24px;
				color: #666666;
				margin-bottom: 44px;
			}
		}
	}
	.post-footer {
		.post-readmore-pogon {
			a {
				
			}
		}
	}
} 

.grid_v1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0px 30px;
	article.post-wrap {
		.post-title {
			h2.post-title {
				margin-bottom: 16px;
				font-size: 25px;
				a {
					font-size: 25px;
				}
			}
		}
		.post-body {
			.post-excerpt{
				margin-bottom: 39px;
				p {
					margin-bottom: 39px;
				}
			}
		}
	}
}

.grid_v2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0 30px;
	article.post-wrap {
		.post-title {
			h2.post-title {
				font-size: 25px;
				a {
					font-size: 25px;
				}
			}
		}

		.post-body {
			.post-excerpt{
				margin-bottom: 39px;
				p {
					margin-bottom: 39px;
				}
			}
		}
	}
}

.single-post {
	article.post-wrap {
		margin-bottom: 55px;
		.post-media {
			margin-bottom: 20px;
		}
		.post-meta {
			.post-meta-content {
				margin-bottom: 11px;
				.general-meta {
					&:not(:last-child) {
						margin-right: 14px;
					}
				}
			}
		}
		.post-title {
			h1.post-title {
				font-size: 35px;
				line-height: 1.2em;
				color: #333333;
				font-weight: 600;
				margin-bottom: 20px;
			}
		}

		.post-body {
			.post-excerpt{
				margin-bottom: 30px;
				p {
					margin-bottom: 30px;
				}
			}
		}

		.post-tag-pogon {
			display: flex;
			justify-content: flex-end;
			border-top: 1px solid #e5e5e5;
			padding-top: 18px;
			padding-bottom: 54px;
			@media (max-width: 767px) {
				flex-direction: column;
				.post-tags-pogon {
					margin-bottom: 7px;
				}
			}
			.post-tags-pogon {
				width: 100%;
				@media (max-width: 767px) {
					width: 100%;
				}
				.ovatags {
					font-size: 15px;
					line-height: 24px;
					color: #666666;
					margin-right: 14px;
				}
				>a {
					font-size: 12px;
					line-height: 24px;
					color: #fff;
					background-color: #12a85f;
					padding: 0px 10px 2px 10px;
					border-radius: 2px;
					transition: 0.5s;
					display: inline-block;
					margin-bottom: 7px;
					&:not(:last-child) {
						margin-right: 10px;
					}
					&:hover {
						background-color: #25282e;
					}
				}
			}
			.share_social-pogon {
				text-align: right;
				flex-basis: 15%;
				@media (max-width: 767px) {
					text-align: left;
					width: 100%;
				}
				ul.share-social-icons {
					padding: 0;
					list-style-type: none;
					li {
						display: inline-block;
						a {
							span {
								display: none;
							}
							i {
								font-size: 14px;
								color: #666666;
								transition: 0.5s;
							}
							&:hover {
								i {
									color: #12a85f;
								}
							}
						}
						&:not(:last-child) {
							margin-right: 10px;
						}
					}
				}
			}
		}
		.post_recommend {
			h3.heading-post-title {
				margin: 0px;
				font-size: 30px;
				line-height: 1.2em;
				font-weight: 600;
				color: #333333;
				margin-bottom: 38px;
			}
			.ova_blog {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-column-gap: 30px;
				grid-row-gap: 60px;
				.related-post {
					.ova-media {
						margin-bottom: 23px;
						a {
							overflow: hidden;
							display: block;
							img {
								border-radius: 3px;
								transition: 0.4s;
								&:hover {
									opacity: 0.9;
								}
							}
						}
					}
					.content {
						.post-title {
							margin: 0px;
							margin-bottom: 11px;
							a {
								font-size: 22px;
								line-height: 28px;
								color: #333333;
								font-weight: 600;
								transition: 0.5s;
								word-break: break-word;
								&:hover {
									color: #12a85f;
								}
							}
						}
						.post_date {
							font-size: 15px;
							line-height: 22px;
							color: #999999;
						}
					}
				}
			}
		}
	}
}

.sidebar {
	.widget {
		margin-bottom: 43px;
		h4.widget-title {
			font-size: 25px;
			line-height: 1.2em;
			color: #333333;
			text-transform: capitalize;
			font-weight: 700;
			margin-bottom: 5px;
			border: none;
		}

		&.widget_custom_html, &.widget_categories, &.widget_archive, &.recent-posts-widget-with-thumbnails {
			h4.widget-title {
				border-bottom: none;
			}
		}
		&.widget_custom_html {
			h4.widget-title {
				margin-bottom: 10px;
			}
			.ova_search {
				position: relative;
				input {
					border: none;
					width: 100%;
					font-size: 15px;
					line-height: 24px;
					color: #999999;
					background-color: #f2f2f2;
					padding: 13px 10px 14px 20px;
					height: unset;
				}
				button {
					background: transparent;
					border: none;
					cursor: pointer;
					padding: 0px;
					width: 50px;
					height: 50px;
					position: absolute;
					right: 0;
					top: 0;
					&:focus {
						outline: none;
					}
				}
			}
		}
		&.widget_rss {
			ul {
				li {
					a {
						&.rsswidget {
							color: #12a85f;
							font-size: 18px;
							&:hover {
								color: #333;
							}
						}
					}
				}
			}
		}
		
		ul {
			li {
				a {
					font-size: 18px;
					line-height: 24px;
					color: #12a85f;
					transition: 0.5s;
					position: relative;
					font-weight: 500;
					
					&:hover {
						color: #333333;
					}
				}
			}
		}

		
		&.widget_categories {
			margin-bottom: 39px;
		}

		&.recent-posts-widget-with-thumbnails {
			ul {
				li {
					&:not(:last-child) {
						margin-bottom: 15px;
					}
					a {
						img {
							margin-bottom: 0px;
							margin-right: 13px;
							border-radius: 5px;
						}
						.rpwwt-post-title {
							font-size: 18px;
							line-height: 24px;
							color: #12a85f;
							font-weight: 500;
							transition: 0.5s;
							&:hover {
								color: #333333;
							}
						}
					}
					.rpwwt-post-date {
						font-size: 15px;
						color: #666666;
						line-height: 33px;
						margin-top: -2px;
						&:before {
							font-family: "Font Awesome 5 Free";
							content: "\f274";
							margin-right: 11px;
						}
					}
				}
			}
		}
	}
}  

.pagination-wrapper{
	margin: 0px 0px 90px 0px;
	padding-top: 40px;
	.blog_pagination {
		.pagination {
			li {
				a {
					font-size: 16px;
					line-height: 24px;
					color: #666666;
					background-color: rgba(0,0,0,0.1);
					border: none;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					width: 50px;
					height: 50px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					padding: 0px;
					transition: 0.5s;
					&:hover {
						color: #fff;
						background-color: #12a85f;
					}
				}
				.pagi_dots {
					color: #666666;
					background-color: rgba(0, 0, 0, 0.1);
					border: none;
					border-radius: 50%;
					width: 50px;
					height: 50px;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					padding: 0px;
					transition: 0.5s;
					margin-right: 10px;
				}
				&.active {
					a {
						color: #fff;
						background-color: #12a85f;
					}
				}
			}
		}
	}
}
/*comment*/
.content_comments {
	.number-comments {
		font-size: 30px;
		line-height: 1.2em;
		color: #333333;
		font-weight: 600;
		margin: 0px;
		text-transform: unset;
		margin-bottom: 28px;
		margin-top: 0px;
	}
	.commentlists {
		padding-bottom: 30px;
		border-bottom: 1px solid #e5e5e5;
		i.fa-reply {
			display: none;
			color: #12a85f;
			font-size: 14px;
		}
		.comment-respond {
			.comment-reply-title {
				margin-top: 15px;
				margin-bottom: 15px;
				.title-comment {
					display: block;
					font-size: 30px;
					line-height: 1.2em;
					color: #333333;
					font-weight: 600;
				}
				.sub-title-comment {
					font-size: 16px;
					line-height: 24px;
					color: #999999;
					margin-top: 6px;
					font-style: italic;
				}
				small {
					display: block;
					font-size: 14px;
					margin-top: 15px;
					a {
						color: #f00;
					}
				}
			}
			
			.logged-in-as {
				display: none;
			}
			.comment-form {
				label {
					font-size: 16px;
					line-height: 24px;
					color: #333333;
				}
				.comment-form-cookies-consent {
					display: none;
				}
				input[type=submit] {
					font-size: 16px;
					line-height: 24px;
					color: #ffffff;
					height: unset;
					padding: 12px 53px 13px 53px !important;
					text-transform: unset;
					background-color: #12a85f!important;
					border-color: #12a85f!important;
					transition: 0.5s;
					&:hover {
						background-color: #333333!important;
						border-color: #333333!important;
					}
				}
			}
		}
		li.comment {
			article.comment_item {
				margin-bottom: 22px;
				.comment-author {
					margin-right: 25px;
					@media (max-width: 992px) {
						width: unset;
					}
					@media (max-width: 768px) {
						margin-right: 15px;
					}
					@media (max-width: 540px) {
						width: 100%;
					}
					img {
						width: 90px;
						border-radius: 3px;
					}
				}
				.comment-details {
					
					.author-name {
						margin-top: 10px;
						@media (max-width: 768px) {
							display: block;
						} 
						.name {
							font-size: 20px;
							line-height: 24px;
							color: #333333;
							font-weight: 600;
							text-transform: capitalize;
							padding-right: 18px;
							@media (max-width: 768px) {
								padding-bottom: 6px;
							}
							a {
								font-size: 20px;
								line-height: 24px;
								color: #333333;
								font-weight: 600;
								text-transform: capitalize;
								&:hover {
									color: #12a85f;
								}
							}
						}
						.date {
							font-size: 15px;
							line-height: 24px;
							color: #999999;
						}
					}
					.comment-body {
						padding-left: 115px;
						padding-top: 8px;
						
						p {
							font-size: 15px;
							line-height: 24px;
							color: #666666;
						}
					}

					.ova_reply {
						margin-top: 17px;
						
						.comment-reply-link, .comment-edit-link {
							font-size: 16px;
							line-height: 24px;
							color: #12a85f;
							float: unset;
							transition: 0.5s;
							padding: 0px;
							&:hover {
								color: #333333;
							}
						}
						.comment-reply-link {
							padding-right: 6px;
						}
					}
				}
			}
		}
	}
	/*end ul.commentlist*/

	/*form comment*/
	.wrap_comment_form {
		padding-top: 12px;
		.comment-reply-title {
			.title-comment {
				display: block;
				font-size: 30px;
				line-height: 1.2em;
				color: #333333;
				font-weight: 600;
			}
			.sub-title-comment {
				display: block;
				font-size: 16px;
				line-height: 24px;
				color: #999999;
				margin-top: 6px;
				font-style: italic;
			}
		}
		.comment-form {
			display: flex;
			flex-wrap: wrap;
			padding-top: 4px;
			.logged-in-as, .comment-form-cookies-consent {
				display: none;
			}
			.general-form-textarea {
				flex: 0 0 100%;
				order: 3;
				label {
					margin-bottom: 14px;
					font-size: 16px;
					line-height: 24px;
					color: #333333;
				}
				textarea {
					border-color: #e5e5e5;
					height: 160px;
					padding: 12px 18px;
				}
			}
			
			.general-form-input {
				flex: 0 0 calc(33.33% - 20px);
				margin-right: 30px;
				margin-bottom: 9px;
				@media (max-width: 767px) {
					flex: 0 0 100%;
					margin-right: 0px;
				}
				label {
					margin-bottom: 14px;
				}
				&.website {
					margin-right: 0px;
				}
				input {
					border-color: #e5e5e5;
					height: unset;
					padding: 12px 18px;
				}
				
				label {
					font-size: 16px;
					line-height: 24px;
					color: #333333;
				}
			}
			.form-submit {
				order: 4;
				margin-top: 18px;
				margin-bottom: 120px;
				input[type=submit] {
					font-size: 16px;
					line-height: 24px;
					color: #ffffff;
					height: unset;
					padding: 12px 53px 13px 53px !important;
					text-transform: unset;
					background-color: #12a85f!important;
					border-color: #12a85f!important;
					transition: 0.5s;
					&:hover {
						background-color: #333333!important;
						border-color: #333333!important;
					}
				}
			}
		}
	}
	/*end form comment*/
}

/* 404_Page */

.error_404_page{
	.pnf-content{
		text-align: center;
		padding-top: 90px;
		padding-bottom: 90px;
		img{}
		h2{
			font-size: 32px;
			color: #25282e;
			font-weight: 400;
			margin-bottom: 10px;
			margin-top: 24px;
		}
		p{
			font-size: 17px;
			color: #777;
			padding-left: 368px;
			padding-right: 368px;
			margin-bottom: 48px;
			@media(max-width: 1024px){
				padding-left: 0;
				padding-right: 0;
			}
		}
		.go_back{
			display: inline-flex;
		}
	}
}

@media (max-width: 1024px) {
	.grid_v1 {
		grid-template-columns: 1fr 1fr;
	}
	.single-post {
		article.post-wrap {
			.post_recommend {
				.ova_blog {
					grid-template-columns: 1fr 1fr;
				}
			}
		}
	}   
}

@media (max-width: 767px) {
	article.post-wrap {
		.post-media {
			margin-bottom: 25px;
		}
		.post-meta {
			.post-meta-content{
				margin-bottom: 18px;
				/*.post-date {
					display: block;
					margin-right: 0px;
				}*/
				/*.categories, .comment, .post-author {
					display: block;
				}*/
			}
		}
	}
	.grid_v1, .grid_v2 {
		grid-template-columns: 1fr;
	}
	.single-post {
		article.post-wrap {
			.post_recommend {
				.ova_blog {
					grid-template-columns: 1fr;
				}
			}
		}
	}
}


@media( max-width: 767px ){
	article.post-wrap .post-meta .post-meta-content {
		
		.post-date, .comment{
			margin-right: 2%!important;
		}
		.categories{
			margin-right: 0%!important;
		}

		.post-date,
		.comment{
			width: 41%;
			display: inline-block;
			
		}
		.categories,
		.post-author{
			width: 55%;
			display: inline-block;
		}
		
		
	}
}



/********* TESTTHEME **********/
.page-links {
	float: unset;
}

article.post-wrap {
	&.sticky {
		border-top: 5px solid #12a85f;
	}
	.post-title {
		h2.post-title{
			a {
				word-break: break-all;
			}
		} 
		.post-title {
			word-break: break-all;
		}
	} 
	.post-meta {
		.post-meta-content {
			a {
				word-break: break-all;
			}
		}
	}
	.post-body {
		.post-excerpt {
			p {
				&:last-child:after {
					content: "";
					display: block;
					clear: both;
				}
			}
		}
	}

} 
ul.commentlists {
	li {
		&.pingback, &.trackback {
			border-bottom: 1px solid #f3f3f3;
			padding-bottom: 14px;
			.author-name {
				a {
					color: #000;
					font-weight: 600;
					font-size: 15px;
					text-transform: capitalize;
					&:hover {
						color: #12a85f;
					}
				}
			}
		}
		&.pingback {
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
.alignleft {
	margin-bottom: 30px;
}
h1.page-title {
	font-size: 35px;
	line-height: 1.2em;
	color: #333333;
	font-weight: 600;
}
.sidebar {
	.widget {
		&.widget_tag_cloud {
			.tagcloud {
				a {
					border-radius: 4px;
					transition: 0.4s;
					&:hover {
						background-color: #12a85f;
						border: 1px solid #12a85f;
						color: #fff;
					}
				}
			}
		}
	}
}   


/*****END TESTTHEME********/
//form contact
.contact-1 {
	box-shadow: 0px 8px 25px rgba(0,0,0,0.1);
	padding: 55px 50px 80px 50px;
	background-color: #ffffff;
	@media (max-width: 767px) {
		padding: 30px 10px 50px 10px;
		input, textarea {
			-webkit-appearance: initial;
		}
	}
	p{
		margin: 0px;
	}
	.title-form {
		font-size: 35px;
		color: #333333;
		line-height: 1.2;
		font-weight: 700;
		margin: 0px;
		margin-bottom: 14px;
		position: relative;

	}
	.myCanvas {
		margin-bottom: 34px;
	}
	.con {
		display: flex;
		flex-wrap: wrap;
		.input {
			display: inline-block;
			width: 50%;
			margin-bottom: 20px;
			&:nth-child(1), &:nth-child(3) {
				padding-right: 10px;
			}
			&:nth-child(2), &:nth-child(4) {
				padding-left: 10px;
			}
			@media (max-width: 767px) {
				width: 100%;
				padding: 0px !important;
			}
			.wpcf7-form-control-wrap {
				display: inherit;
				width: 100%;
				input {
					height: unset;
					width: 100%;
					padding: 0px;
					font-size: 16px;
					line-height: 24px;
					color: #666666;
					border: 1px solid #e5e5e5;
					padding: 15px 20px 14px 20px;
					border-radius: 3px;
					&::placeholder {
						color: #666666;
					}
				}
			}
		}
		.message {
			width: 100%;
			.wpcf7-form-control-wrap {
				display: inherit;
				textarea {
					width: 100%;
					height: 135px;
					border: 1px solid #e5e5e5;
					border-radius: 3px;
					padding: 14px 20px 20px 20px;
					font-size: 16px;
					line-height: 24px;
					color: #666666;
					&::placeholder {
						color: #666666;
					}
					&:focus {
						outline: none;
					}
				}
			}
		}
	}
	input[type=submit] {
		background-color: #12a85f!important;
		color: #ffffff;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		height: unset;
		padding: 14px 50px 13px 50px;
		border: 1px solid #12a85f;
		border-radius: 3px;
		transition: 0.5s;
		cursor: pointer;
		margin-top: 37px;
		&:hover {
			background-color: #333333!important;
			border-color: #333333 !important
		}
	}
	&.no-title {
		padding: 50px 60px 65px 60px;
		@media (max-width: 767px) {
			padding: 30px 10px 50px 10px;
		}
		.title-form {
			display: none;
		}
	}

	&.type-2 {
		background-color: transparent;
		box-shadow: none;
		padding: 0px;
		text-align: center;
		.con {
			.input {
				width: 33.33%;
				margin-bottom: 30px;
				&.telephone {
					display: none;
				}
				&:nth-child(1), &:nth-child(2) {
					padding: 0px;
					padding-right: 30px;
				}
				&:last-child {
					padding: 0px;
				}
				@media (max-width: 767px) {
					width: 100%;
					padding: 0px !important;
				}
			}

			.message {
				.wpcf7-form-control-wrap {
					textarea {
						height: 250px;
					}
				}
			}
		}
	}
}


ul.commentlists li.pingback .author-name.mobile,
.author-name.mobile{
	display: none;
}
@media( max-width: 767px ){
	.content_comments .commentlists li.comment article.comment_item .comment-author{
		display: flex;
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;

		.author-name.mobile{
			margin-left: 15px;
			padding-top: 15px;
			.name, .name a{
				    font-size: 20px;
				    line-height: 24px;
				    color: #333333;
				    font-weight: 600;
				    text-transform: capitalize;
			}
		}
	}
	.author-name.mobile{
		display: block!important;
	}
	ul.commentlists li.pingback .author-name.mobile{
		display: none!important;	
	}
	.content_comments .commentlists li.comment article.comment_item .comment-details .author-name.desk{
		display: none;
	}
	.content_comments .commentlists li.comment article.comment_item .comment-details .comment-body{
		padding-left: 0;
	}
	.content_comments .commentlists li.comment article.comment_item .comment-details .ova_reply{
		margin-top: 10px;
	}
	ul.commentlists li.pingback{
		display: block;
		width: 100%;
		float: left;
	}
	ul.commentlists li.pingback header.comment-author{
		display: none;
	}
	ul.commentlists li.pingback .comment-details .author-name{
		
		margin-top: 0!important;
	}
}